.popup__container {
  box-sizing: border-box;
  padding: 34px 36px 37px;
  position: relative;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: #000000;
  width: 430px;
  height: max-content;
  /*Окошко должно быть отцентрировано. Используйте значение auto OK*/
  margin: 195px auto 0px;
}
@media screen and (max-width: 550px) {
  .popup__container {
    width: 288px;

    /*Этот стиль необходимо удалить*/
    padding: 25px 22px 25px;
  }
}
