.profile__add-buttom {
  margin: 0px;
  padding: 0px;
  width: 150px;
  height: 50px;
  border: 2px solid white;
  background-image: url(../../../images/Add_Button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.2s linear;
}
.profile__add-buttom:hover {
  opacity: 0.6;
}
@media screen and (max-width: 450px) {
  .profile__add-buttom {
    width: 100%;
  }
}
