.editpopup__save {
  padding: 0px;
  width: 100%;
  min-height: 50px;
  margin-top: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  border-radius: 2px;
  transition: opacity 0.2s linear;
}
.editpopup__save:hover {
  opacity: 0.8;
}
@media screen and (max-width: 550px) {
  .editpopup__save {
    font-size: 14px;
    line-height: 17px;
  }
}
